.location__section {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1em;
  background-color: #e9e9e9;
  padding: 1em;
}

.location__section p {
  font-weight: 500;
}

.call-to-action__section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em 1.5em 3.5em;
  text-align: center;
  background-color: #f6f6f6;
  gap: 0.7em;
}

.call-to-action__section h2 {
  max-width: 20ch;
}

.call-to-action__section h3 {
  font-weight: 300;
}

.how-it-works__section,
.restaurants__section {
  padding: 2.5em 1em;
}

.restaurants__section {
  margin-bottom: 200px;
  padding-bottom: 300px;
}

.icon-white {
  color: #ffffff;
  font-size: 1.1rem;
}

.icon-gray {
  color: #7d7d7d;
  font-size: 1.1rem;
}

.icon-purple {
  color: var(--primary);
  font-size: 1.1rem;
}

.how-it-works__elements-container {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-top: 2em;
}

.how-it-works__element {
  display: flex;
  position: relative;
  background-color: #dbdbdb5f;
  padding: 1.6em 1.6em 1.6em 2em;
  margin-left: 0.6em;
  border-radius: 20px;
  gap: 1.3em;
  align-items: center;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.how-it-works__element p {
  font-weight: 500;
}

.how-it-works__element-number {
  position: absolute;
  left: -0.7em;
  background-color: var(--primary);
  color: #fff;
  font-size: 0.85rem;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif;
}

.how-it-works__element:nth-child(3) {
  background-color: #9256dc1e;
}

.restaurants__section {
  background-color: #f6f6f6;
  padding-bottom: 3.5em;
}

.restaurants__elements-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

.restaurants__element {
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.restaurants__element img {
  width: 100%;
  object-fit: cover;
  height: 180px;
  object-position: bottom;
}

.restaurants__element-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7em;
}

.restaurants__element-text-container {
  font-size: 1.1rem;
}

.restaurants__element-text-container h3 {
  font-weight: 800;
  margin-bottom: 0.3em;
}

.restaurants__element-text-container p {
  font-weight: 300;
}

.restaurant__element-label-new {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.3em 0.7em;
  background-color: #92e1cf;
  color: #12a083;
  font-family: "Roboto", sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
}

.homepage-heart-icon {
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 2;
}

.homepage-heart-icon-filled {
  position: absolute;
  right: 1.6em;
  right: 1em;
  bottom: 1em;
  font-size: 1.5rem;
  display: none !important;
  color: var(--primary) !important;
  transition: 0.5s;
}
.homepage-heart-icon:hover + .homepage-heart-icon-filled {
  display: block !important;
  transition: 0.5s;
}

.homepage-heart-icon:hover {
  opacity: 0;
}

.homepage-heart-icon:hover + .homepage-heart-icon {
  opacity: 0;
  transition: 0.5s;
}

header,
section,
main,
footer,
article {
  animation: appear 3s normal forwards;
  height: 0px;
}

.loader-wrapper {
  position: absolute;
  background-color: var(--primary);
  height: 100%;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;
  padding-bottom: 2em;
  z-index: 5;
  animation: disappear 3s normal forwards;
}

.loader-logo {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
}

.loader-icon-container img {
  height: 50px;
  transform: rotate(-45deg);
}

.loader-icon-container img:nth-child(1) {
  animation: moveFork 1s alternate-reverse linear infinite;
}

.ustensil-icon {
  background-color: #fff;
  font-size: 3rem;
}

@keyframes appear {
  0% {
    height: 0px;
  }
  99% {
    height: 0px;
  }
  100% {
    height: auto;
  }
}

@keyframes disappear {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes moveFork {
  from {
    transform: rotate(45deg);
  }

  to {
    transform: rotate(-130deg);
  }
}

@media screen and (min-width: 768px) {
  .how-it-works__elements-container {
    flex-direction: row;
    justify-content: center;
    gap: 5em;
  }

  .restaurants__section {
    margin-bottom: 75px;
  }

  .restaurants__elements-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    gap: 50px;
  }

  .how-it-works__section-container,
  .restaurants__section-container {
    max-width: 1350px;
    margin: 0 auto;
  }

  .restaurants__element img:nth-child(2) {
    object-position: center;
  }
}

@media screen and (min-width: 1100px) {
  .restaurants__elements-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}
