@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: normal;
  font-style: normal;
  font-family: "Roboto", sans-serif;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: inherit;
}

button {
  cursor: pointer;
}

h2 {
  font-weight: 600;
}

:root {
  --primary: #9356dc;
  --secondary: #ff79da;
  --ternary: #992ed0;
}

header {
  text-align: center;
  padding: 1em 0em 0.5em;
  width: 100%;
  box-shadow: rgb(192, 192, 192) 0px 5px 5px;
  position: relative;
  background-color: #fff;
  z-index: 3;
}

header img {
  width: 175px;
  cursor: pointer;
}

.call-to-action__button {
  font-weight: 500;
  background: rgb(147, 86, 220);
  background: linear-gradient(
    0deg,
    rgba(147, 86, 220, 1) 0%,
    rgba(255, 121, 218, 1) 100%
  );
  color: #fff!important;
  border: none;
  padding: 0.9em 1.3em;
  font-size: 1rem;
  border-radius: 30px;
  position: relative;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.call-to-action__button:hover,
.call-to-action__button:focus {
  filter: brightness(110%);
  transition: ease-in-out 0.5s;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 10px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

footer {
  position: fixed;
  height: 200px;
  background-color: #383838;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  padding: 1.2em 1.5em 2em;
  width: 100%;
  z-index: 3;
}

.footer__logo {
  font-family: "Shrikhand", sans-serif;
  color: #fff;
  font-size: 1.1rem;
  cursor: pointer;
  margin-bottom: 1em;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
}
.footer__element {
  display: flex;
}

.footer__element a {
  margin-left: 1em;
}

.footer__element:nth-child(2) a {
  margin-left: 0.7em;
}

.footer__element i {
  font-size: 0.9rem;
}

footer nav a,
footer nav a:visited {
  color: #fff;
  font-weight: 500;

  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  padding-bottom: 200px;
}

@media screen and (min-width: 768px) {
  :root {
    font-size: 18px;
  }
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 0em;
    height: auto;
    gap: 2em;
  }

  footer nav {
    flex-direction: row;
    justify-content: flex-start;
    gap: 2em;
  }
}
